/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f06, #4a90e2);
  background-repeat: no-repeat;
  width: 100%;
  color: #333;
}

.navClass {
  background-color: #00000080 !important;
  height: 9vh;

}

Nav {
  right: 0 !important;

}

.navLink, .navBrand{
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  font-weight: bold;
}

.navBrand {
  font-size: 2rem;
}


#loginContainer, #signUpContainer{
  height: 100vh;
}


.card {
  border-radius: 15px;
  border: 1px solid #ddd; 
}

.card-body {
  padding: 2rem;
  background: #fff;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da; 
  box-shadow: none;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #357abd;
}

a {
  text-decoration: none;
  color: #4a90e2;
}

a:hover {
  text-decoration: underline;
}

.text-muted {
  color: #6c757d;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.w-100 {
  width: 100%;
}

.homeTitle {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.hero-section {
  height: 100vh;
  color: white;
}

.hero-section h1 {
  font-size: 4rem;
}

.hero-section p {
  font-size: 1.5rem;
}

.card {
  margin-bottom: 1.5rem;
}
